
$svg-hover-styles: (
  fog belt: (
    fill-opacity: 1,
  ),
  mount peak: (
    fill-opacity: 1,
  ),
  two ways: (
    fill-opacity: 1,
  ),
  tallest tree: (
    fill-opacity: 1,
  ),
);

$tech-stack: (
  "SiReact": #61DAFB,
  "SiVitest": #646CFF,
  "SiTypescript": #3178C6,
  "SiPnpm": #F69220,
  "SiThreedotjs": #000000,
  "SiSass": #CC6699
);
