
$svg-hover-styles: (
  fog belt: (fill-opacity: 1,
  ),
  mount peak: (fill-opacity: 1,
  ),
  two ways: (fill-opacity: 1,
  ),
  tallest tree: (fill-opacity: 1,
  ),
);

$tech-stack: (
  "SiReact": #61DAFB,
  "SiVitest": #646CFF,
  "SiTypescript": #3178C6,
  "SiPnpm": #F69220,
  "SiThreedotjs": #000000,
  "SiSass": #CC6699
);

$loader-data: (
  "fog belt": (
    height: 25%,
    background: url("/images/fog belt/fog_belt.png") no-repeat left -150px / cover,
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 75% 100%, 0% 100%),
    transform: translate(-20%, 20%),
    -webkit-transform: translate(-20%, 20%), 
    -moz-transform: translate(-20%, 20%),
    -ms-transform: translate(-20%, 20%),
    before-transform: translate(-35%, -5%),
  ),
  "mount peak": (
    height: 50%,
    background: url("/images/mountain peak/mountain_peak.png") no-repeat 100% / cover,
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 70% 100%, 0% 100%),
    after-content: "ain",
    after-bg: none,
    before-transform: translate(-20%, -10%),
    -webkit-transform: translate(-20%, -10%),
    -moz-transform: translate(-20%, -10%),
    -ms-transform: translate(-20%, -10%),
  ),
  "two ways": (
    height: 75%,
    background: url("/images/two ways/two_ways.png") no-repeat -500px top / cover,
    clip-path: polygon(0% 0%, 70% 0%, 90% 70%, 100% 100%, 0% 100%),
    transform: translate(-20%, 20%),
    -webkit-transform: translate(-20%, 20%),
    -moz-transform: translate(-20%, 20%),   
    -ms-transform: translate(-20%, 20%),  
    before-transform: translate(-40%, 10%),
  ),
  "tallest tree": (
    height: 100%,
    background: url("./images/tallest tree/tallest_tree.png") no-repeat -400px -100px / cover,
    clip-path: polygon(0% 0%, 100% 0%, 95% 10%, 75% 100%, 0% 100%),
    before-transform: translate(-10%, -10%),
    -webkit-transform: translate(-10%, -10%),
    -moz-transform: translate(-10%, -10%), 
    -ms-transform: translate(-10%, -10%), 
  )
);
