@use 'mixin' as *;
@use 'function' as *;

@use 'variables';
@use "../../fonts/fonts.scss";

body {

  &.small,
  &.medium {
    padding: variables.$spacing-none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

}

#root {

  &.small,
  &.medium {

    &:before {
      height: variables.$height-half;
      width: variables.$width-full;

      top: unset;
      bottom: 0;

      clip-path: none;
      -webkit-clip-path: none;
    }

    &[root-bg-position='fog belt'],
    &[root-bg-position='mount peak'],
    &[root-bg-position='tallest tree'] {
      &:after {
        background-position-x: right;
      }
    }

    &[root-bg-position='two ways'] {
      &:after {
        background-position-x: center;
      }
    }

    &[root-bg-position='fog belt'],
    &[root-bg-position='tallest tree'] {
      &:after {
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
      }
    }
  }

  // top row section
  .row__top {

    &.small {
      order: 2; // Change order for smaller screens
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      text-align: center;
      -ms-flex-line-pack: center;
      align-content: center;
      padding: variables.$spacing-none;

      .top__row--sound,
      .top__row--nav {
        @include displays(inline-block);

        float: none;
      }
    }
  }

  // middle row section
  .row__middle {
    @include positions(static);

    //for both sizes
    &.small,
    &.medium {
      @include flex-basis(0, 0, 40%);

      .middle__row--title {
        text-align: start;
        mix-blend-mode: normal;
        background: none;

        .title {
          @include displays(block);

          height: fit-content;
          width: fit-content;
          left: 0;
          font-size: fonts.$font-size-medium;
          text-transform: capitalize;
          transition: none;
          -webkit-transition: none;
          -o-transition: none;

          &.title-top {

            &:before {
              width: rem(25);
              border-radius: 0;
              height: 0;
              border: calc(variables.$border-width-small + .5px) solid var(--secondary-color);
              -webkit-clip-path: none;
              clip-path: none;
              -webkit-clip-path: none;
              transform: none;
              -webkit-transform: none;
              -ms-transform: none;
            }
          }

          &.title-bottom {
            @include positions(relative);

            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
          }
        }
      }

      .middle__row--loader {
        @include positions(absolute);

        top: 0;
        left: 0;
        width: rem(6);
        padding: variables.$spacing-none;
        text-align: start;
        height: variables.$height-full;

        .loader-line {
          @include displays(block);

          height: variables.$height-full;
          border-radius: 0;

          &:before {
            border-radius: 0;
          }
        }

        span {
          @include displays(none);
        }
      }


      .middle__row--title[data-title='fog belt'],
      .middle__row--title[data-title='two ways'] {

        .title-top {
          color: var(--secondary-color);
          top: 50%;
          transform: translate(30%, 0%) rotate(-90deg);
          -webkit-transform: translate(30%, 0%) rotate(-90deg);
          -ms-transform: translate(30%, 0%) rotate(-90deg);


          &:before {
            top: 50%;
            left: -100%;
          }
        }

        .title-bottom {
          color: var(--secondary-color);
          top: 25%;
          transform: translate(25%, 0%) rotate(-90deg);
          -webkit-transform: translate(25%, 0%) rotate(-90deg);
          -ms-transform: translate(25%, 0%) rotate(-90deg);
        }
      }

      .middle__row--title[data-title='mount peak'],
      .middle__row--title[data-title='tallest tree'] {
        .title-top {
          color: var(--secondary-color);
          top: 50%;
          transform: translate(0%, 40%) rotate(-90deg);
          -webkit-transform: translate(0%, 40%) rotate(-90deg);
          -ms-transform: translate(0%, 40%) rotate(-90deg);


          &:before {
            top: 50%;
            left: -55%;
          }

          &:after {
            text-transform: lowercase;
            color: var(--secondary-color);
          }
        }

        .title-bottom {
          color: var(--secondary-color);
          top: 15%;
          transform: translate(15%, 0%) rotate(-90deg);
          -webkit-transform: translate(15%, 0%) rotate(-90deg);
          -ms-transform: translate(15%, 0%) rotate(-90deg);
        }
      }

      .middle__row--title[data-title='two ways'] {

        .title-top {
          color: var(--primary-color);

          &:before {
            border-color: var(--primary-color);
          }
        }

        .title-bottom {
          color: var(--primary-color);
          transform: translate(10%, 0%) rotate(-90deg);
          -webkit-transform: translate(10%, 0%) rotate(-90deg);
          -ms-transform: translate(10%, 0%) rotate(-90deg);
        }
      }

      .middle__row--title[data-title='tallest tree'] {

        .title-bottom {
          top: 25%;
          transform: translate(25%, 0%) rotate(-90deg);
          -webkit-transform: translate(25%, 0%) rotate(-90deg);
          -ms-transform: translate(25%, 0%) rotate(-90deg);
        }
      }
    }

    //for small sizes only
    &.small {
      order: 1; // Change order for smaller screens
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;

      .middle__row--social-links {
        padding: variables.$spacing-none;

        &[data-title='tallest tree'] {
          svg {
            color: var(--primary-color);
          }
        }
      }
    }

    //for medium size only
    &.medium {
      .middle__row--social-links {
        padding: variables.$spacing-none addSpacing(variables.$spacing-medium, .5) variables.$spacing-none variables.$spacing-none;
      }
    }
  }

  // bottom row section
  .row__bottom {

    &.small,
    &.medium {
      @include flex-basis(1, 1, 50%);

      .bottom__row--description {
        height: variables.$height-full;
      }

      .description-top {
        span {
          @include displays(inline-block);

          margin-top: addSpacing(variables.$spacing-medium, .5);
        }
      }

      .description-bottom {
        img {
          margin-top: addSpacing(variables.$spacing-medium, .5);
        }
      }

      span {
        font-size: calc(fonts.$font-size-large + 1rem);
      }

      p {
        font-size: fonts.$font-size-large;
      }
    }

    &.medium {
      iframe {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
    }

    &.small {

      iframe {
        @include displays(none);
      }

      .bottom__row--description {
        margin: variables.$spacing-none auto;
        text-align: center;
      }

      .description-top {
        span {
          @include displays(inline-block);
        }
      }

      p {
        @include displays(inline-block);

        font-size: calc(fonts.$font-size-medium + 0.125rem);
        width: calc(100% - 10%);
      }

      .svgbox {
        left: 0;
        width: variables.$width-full;


        svg {
          width: rem(40);
        }
      }
    }


  }

  //overlay sections
  .overlay {

    &.medium,
    &.small {

      .header {
        justify-content: flex-end;
        -webkit-box-pack: end;
        -ms-flex-pack: end;

        .overlay-title {
          @include positions(fixed);
          @include displays(block);

          font-size: fonts.$font-size-medium;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          left: 0;
          top: 50%;
          transform: translateY(50%) rotate(-90deg);
          -webkit-transform: translateY(50%) rotate(-90deg);
          -ms-transform: translateY(50%) rotate(-90deg);
          transform-origin: left;
          -webkit-transform-origin: left;
          -ms-transform-origin: left;
          margin-left: addSpacing(variables.$spacing-small, .5rem);
          height: fit-content;
          width: fit-content;
        }
      }

      .selection__container {
        flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        height: calc(variables.$height-half + 20%);

      }

      .selection__container--list {
        @include displays(inline-block);
        @include positions(static);

        perspective: none;
        -webkit-perspective: none;

        .card {
          width: rem(50);
          height: rem(50);
          border-radius: 50%;
          margin-block: addSpacing(variables.$spacing-small, .25rem);
          margin-inline: addSpacing(variables.$spacing-medium, 1.125rem);
          transform-style: unset;
          -webkit-transform-style: unset;
          transition: none;
          -webkit-transition: none;
          -o-transition: none;
          transform: none;
          -webkit-transform: none;
          -ms-transform: none;
          outline: rem(2) solid transparent;

          &:hover,
          &:focus,
          &:focus-within,
          &:active {
            outline: rem(2) solid var(--primary-color);
          }


          img {
            width: variables.$width-full;
            height: variables.$height-full;
            object-fit: cover;
            -o-object-fit: cover;
            filter: none;
            -webkit-filter: none;
          }
        }

        .card--back-sm {
          @include positions(fixed);

          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          text-align: center;
          width: variables.$width-full;
          font-weight: none;
          letter-spacing: rem(1);

          h1 {
            font-family: fonts.$font-primary;
            font-weight: none;

            text-transform: capitalize;
          }

          span {
            @include displays(inline-block);

            font-family: fonts.$font-third;
            margin-block: addSpacing(variables.$spacing-small, .5rem);
            font-size: fonts.$font-size-small;


            svg {
              @include vertical-alignment(middle);

              fill: var(--primary-color);
              margin-inline: addSpacing(variables.$spacing-none, .3125);
              font-size: fonts.$font-size-large;
            }
          }

          p {
            font-family: fonts.$font-secondary;
            font-size: fonts.$font-size-medium;
            padding: variables.$spacing-none addSpacing(variables.$spacing-medium, .5);
          }
        }
      }

      .selection__container--map {
        @include flex-basis(1, 1, 0);

        text-align: center;

        svg {
          height: calc(variables.$height-full - 10%);
        }


      }
    }

    &.medium {
      .card--back-sm {
        height: rem(240);
      }
    }

    &.small {
      .selection__container {
        height: calc(variables.$height-full + 20%);
      }

      .card--back-sm {
        height: rem(300);
      }



      .selection__container--list .card {
        width: rem(30);
        height: rem(30);
        margin-inline: variables.$spacing-none;
      }

      .selection__container--map {
        @include flex-basis(1, 1, auto);

        margin: variables.$spacing-none;
        height: variables.$height-full;

        svg {
          height: calc(variables.$height-half + 20%);
        }
      }
    }
  }
}