@mixin background-image($image-url, $repeat, $position, $size) {
    background-image: url($image-url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}

@mixin flex($display, $direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-basis($grow, $shrink, $basis) {
    flex: $grow $shrink $basis;
}

@mixin clamped-width {
    width: clamp($min-width, $viewport-percentage, $max-width);
}

@mixin positions($position){
    position: $position
}

@mixin displays($display){
    display: $display;
}