
%css-reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: $border-width-zero;
    -webkit-tap-highlight-color: transparent;
    color-scheme: light dark;
}

%background {
    @include background( no-repeat, center, cover);
}

%toprow-buttons-container-styles {
    @include flex(flex, unset, nowrap, center, unset);
    @include positions(relative);


    width: rem(25);
    aspect-ratio: 1;
    margin-inline: $spacing-small;

    vertical-align: middle;
}

%toprow-button-styles-before {
    width: rem(41.6);
    height: rem(41.6);
    content: '';
    top: 50%;
    left: 50%;
    border: calc($border-width-medium + rem(1)) solid #ccc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

%sound-bars-styles {
    width: rem(4.8);
    height: calc($height-full - 10%);

    margin-inline: rem(1.5);
    vertical-align: middle;

    border-radius: rem(3);
    transform-origin: bottom;
    transition: all 1s ease-in-out;
    animation: bounce 2.2s linear infinite alternate;
}

%svg-icon-styles {
    height: auto;
    width: $width-full;
    object-fit: contain;
}