// Spacing Variables (for both padding and margin)
$spacing-none: 0rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;

// Backdrop Filters Variables
$blur-normal: 10;
$blur-strong: 20;

// Dimension Size Variables
$height-full: 100%;
$height-half: 50%;
$width-full: 100%;
$width-half: 50%;
$min-heigth: 100svh;

// Border Size Variables
$border-width-zero: none;
$border-width-small: 0.0625rem; //1px
$border-width-medium: 0.125rem; //2px

//Z-Index Position Variables
$z-index-background: -1;
$z-base: 0;
$z-layer: 1;
$z-layer-low:2;
$z-layer-medium:3;
$z-layer-high:4;