@use './utils/function' as *;
@use './utils/mixin' as *;
@use './utils/variables';
@use '../fonts/fonts';

.row__bottom {
    overflow: hidden;

    .bottom__row--description {
        @include clamped-width(400px, 23vw, 410px);
        @include positions(relative);

        color: var(--accent-color);
        overflow-y: scroll;
        scroll-snap-type: y mandatory; //scroll snapping along the vertical axis
        -ms-scroll-snap-type: y mandatory;
        height: variables.$height-full;
        scrollbar-width: none;

        .svgbox {
            @include positions(fixed);
            
            width: rem(450);
            text-align: center;
            height: auto;
            bottom: 10%;
            -webkit-transition: opacity 300ms linear, -webkit-transform 1s cubic-bezier(0.25, 1.5, 0.2, 1.8);
            transition: opacity 300ms linear, -webkit-transform 1s cubic-bezier(0.25, 1.5, 0.2, 1.8);
            -o-transition: transform 1s cubic-bezier(0.25, 1.5, 0.2, 1.8), opacity 300ms linear;
            transition: transform 1s cubic-bezier(0.25, 1.5, 0.2, 1.8), opacity 300ms linear;
            transition: transform 1s cubic-bezier(0.25, 1.5, 0.2, 1.8), opacity 300ms linear, -webkit-transform 1s cubic-bezier(0.25, 1.5, 0.2, 1.8);
        }

        svg {
            width: rem(40);
            height: auto;
            opacity: 1;
        }
    }

    .bottom__row--description .description-top,
    .bottom__row--description .description-bottom {
        height: variables.$height-full;
        scroll-snap-align: start; //setting the point where the scrolling of each child should stop
    }

    .bottom__row--description .description-bottom {
        text-align: center;

        p {
            margin-top: addSpacing(variables.$spacing-small, .5);
            text-align: center;
            font-size: calc(fonts.$font-size-large - .1rem);
            font-family: fonts.$font-secondary;
        }
    }

    .bottom__row--description .description-bottom img {
        width: calc(variables.$width-half + 10%);
        height: auto;
        object-fit: cover;
        -o-object-fit: cover;
        border-radius: 30px;
    }

    .description-top span {
        font-size: calc(fonts.$font-size-large + .7rem);
        font-family: fonts.$font-primary;
    }

    .description-top p {
        font-size: calc(fonts.$font-size-large - .1rem);
        font-family: fonts.$font-secondary;
        margin-top: addSpacing(variables.$spacing-small, .5);
    }

    iframe {
        @include positions(absolute);
        @include set-absolute-positioning(none, none, 5%, 4%);

        border-radius: 15px;
    }


}