@use "./utils/mixin" as *;
@use "./utils/function" as *;
@use "./utils/placeholder" as *;

@use "./utils/variables";
@use "./utils/colors";
@use "../fonts/fonts";

// Global Resets
* {
  @extend %css-reset;

  &:after,
  &:before {
    @extend %css-reset;
  }
}

body,
html {
  width: variables.$width-full;
  height: variables.$height-full;
  min-height: variables.$min-heigth;

  -webkit-text-size-adjust: 100%;
}

body,
#root {
  @extend %background;
  @extend %background-default-image;
}

body {
  padding: rem(75) rem(85);
  backdrop-filter: blur(rem(variables.$blur-strong));
  -webkit-backdrop-filter: blur(rem(variables.$blur-strong));
}

#root {
  @include flex(flex, column, nowrap, unset, unset);
  @include positions(relative);
  background-repeat: no-repeat;

  width: variables.$width-full;
  height: variables.$height-full;

  z-index: variables.$z-base;

  &:before,
  &:after {
    @include positions(absolute);
    @include set-absolute-positioning(0, 0, 0, 0);
  }

  &::before {
    height: variables.$height-full;
    width: variables.$width-half;

    clip-path: polygon(0px 0px, 65% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0px 0px, 65% 0%, 100% 100%, 0% 100%);
    background-color: var(--bg-blur-color);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);

    z-index: variables.$z-index-background;
  }

  &:after {
    z-index: calc(variables.$z-index-background - 1);
    background-repeat: no-repeat;
  }
}

.row__top {
  @include flex-basis(0, 0, 10%);
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.row__middle {
  @include flex-basis(1, 1, 0); //flex:1
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.row__bottom {
  @include flex-basis(0, 0, 40%);
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.bottom__row--description {
  @include clamped-width(450px, 26vw, 500px);

  margin-left: addSpacing(variables.$spacing-large, 4);
}
