@import './utils/variables';
@import './utils/mixin';
@import './utils/function';
@import './utils/placeholder';

@import './utils/colors';
@import '../fonts/fonts';

// Global Resets
* {
  @extend %css-reset;

  &:after {
    @extend %css-reset;
  }

  &:before {
    @extend %css-reset;
  }
}

body,
html {
  width: $width-full;
  height: $height-full;
  min-height: 100svh;

  -webkit-text-size-adjust: 100%;
}

body {
  @extend %background;
  // background: var(--body-bg-image, url('/images/default.png')) no-repeat center center / cover;

  padding: rem(75) rem(85);
  backdrop-filter: blur(rem($blur-strong));
}

#root {
  @extend %background;
  @include flex(flex, column, nowrap, unset, unset);
  @include positions(relative);

  width: $width-full;
  height: $height-full;

  z-index: 0;

  &::before {
    @include positions(absolute);

    content: "";
    height: $height-full;
    width: $width-half;
    top: 0;
    left: 0;

    clip-path: polygon(0px 0px, 65% 0%, 100% 100%, 0% 100%);
    background-color: var(--bg-blur-color);
    // backdrop-filter: blur(rem($blur-strong));
    backdrop-filter: blur(1.25rem);
    // background-color: rgba(255, 255, 255, 0.3);

    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--root-bg-image, url('src/assets/images/default.png'));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
}

.row__top {
  @include flex-basis(0, 0, 10%);
  order: 1;
}

.row__middle {
  @include flex-basis(1, 1, 0); //flex:1
  order: 2;
}

.row__bottom {
  @include flex-basis(0, 0, 40%);
  order: 3;
}

.bottom__row--description {
  @include clamped-font-width;

  margin-left: addSpacing($spacing-large, 4);
}