@use "./utils/mixin" as*;
@use "./utils/function" as*;
@use "./utils/placeholder" as*;

@use "./utils/variables";
@use "./utils/colors";
@use "../fonts/fonts";

.row__middle {
    @include flex(flex, row, nowrap, unset, unset);
    @include positions(relative);

    .middle__row--loader,
    .middle__row--social-links {
        width: rem(75);
        height: variables.$height-full;
    }

    .middle__row--loader {
        text-align: center;
        padding: addSpacing(variables.$spacing-medium, 1) variables.$spacing-none variables.$spacing-none variables.$spacing-none;

        .loader-line {
            @include displays(inline-block);
            @include positions(relative);

            white-space: nowrap;
            background-color: var(--secondary-color);
            height: rem(260);
            width: rem(6);
            border-radius: 20px;

            &::before {
                @include positions(absolute);
                @include set-absolute-positioning(0, 0, 0, 0);

                background-color: var(--primary-color);
                width: rem(6);
                border-radius: 20px;
                transform: translate(0%, 0%);
                -webkit-transform: translate(0%, 0%);
                    -ms-transform: translate(0%, 0%);
                transition: all 1s linear;
                -webkit-transition: all 1s linear;
                -o-transition: all 1s linear;
            }
        }

        span {
            @include displays(block);

            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            font-size: rem(14);
            color: var(--primary-color);
            font-family: fonts.$font-primary;
        }
    }

    .middle__row--social-links {
        @include flex(flex, column, nowrap, center, center);

        gap: rem(45);
        padding: variables.$spacing-small addSpacing(variables.$spacing-medium, .5) variables.$spacing-none variables.$spacing-none;

        svg {
            width: rem(25);
            height: auto;
            object-fit: cover;
            -o-object-fit: cover;
            color: var(--secondary-color);
            transition: color 1s linear;
            -webkit-transition: color 1s linear;
            -o-transition: color 1s linear;
            cursor: pointer;
        }

        &[data-title="mount peak"] {
            svg {
                color: var(--primary-color);
            }
        }

        &[data-title="two ways"] {
            svg {
                color: var(--primary-color);
            }
        }
    }

    .middle__row--title {
        @include flex-basis(1, 1, 0);

        overflow: hidden;
        text-align: center;
        mix-blend-mode: plus-lighter;

        .title {
            font-size: rem(135);
            font-family: fonts.$font-primary;
        }

        .title-top {
            // /* for clip path to work */
            @include displays(block);
            @include positions(relative);

            transform: translate(-25%, 20%);
            -webkit-transform: translate(-25%, 20%);
            -ms-transform: translate(-25%, 20%);
            z-index: variables.$z-base;

            color: transparent;

        }

        .title-top::before {
            @include positions(absolute);

            content: "";
            width: rem(175);
            aspect-ratio: 1;
            border: calc(variables.$border-width-medium + rem(1)) solid var(--border-color);
            border-radius: 50%;
            -webkit-transition: -webkit-clip-path 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
            transition: -webkit-clip-path 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
            -o-transition: clip-path 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
            transition: clip-path 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
            transition: clip-path 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-clip-path 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }

        .title-bottom {
            @include displays(block);

            color: var(--accent-color);

            transform: translate(-4%, 10%);
            -webkit-transform: translate(-4%, 10%);
            -ms-transform: translate(-4%, 10%);
        }
    }

    @include loader-title("fog belt");
    @include loader-title("mount peak");
    @include loader-title("two ways");
    @include loader-title("tallest tree");
}
    //     .middle__row--loader[data-title="fog belt"] {
    //         .loader-line {
    //             &::before {
    //                 height: calc(variables.$height-half - 25%);
    //             }
    //         }
    //     }

    //     .middle__row--loader[data-title="mount peak"] {
    //         .loader-line {
    //             &::before {
    //                 height: variables.$height-half;
    //             }
    //         }
    //     }

    //     .middle__row--loader[data-title="two ways"] {
    //         .loader-line {
    //             &::before {
    //                 height: calc(variables.$height-half + 25%);
    //             }
    //         }
    //     }

    //     .middle__row--loader[data-title="tallest tree"] {
    //         .loader-line {
    //             &::before {
    //                 height: variables.$height-full;
    //             }
    //         }
    //     }

    //     .middle__row--title[data-title="fog belt"] {

    //         .title-top {
    //             background: url("/images/fog belt/fog_belt.png") no-repeat left -150px / cover;
    //             -webkit-background-clip: text;
    //             background-clip: text;
    //             transform: translate(-20%, 20%);

    //             &:before {
    //                 clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 75% 100%, 0% 100%);
    //                 transform: translate(-35%, -5%);

    //             }
    //         }
    //     }

    //     .middle__row--title[data-title="mount peak"] {


    //         .title-top {
    //             background: url("/images/mountain peak/mountain_peak.png") no-repeat 100% / cover;
    //             -webkit-background-clip: text;
    //             background-clip: text;

    //             &:before {
    //                 clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 70% 100%, 0% 100%);
    //                 transform: translate(-20%, -10%);
    //             }

    //             &:after {
    //                 content: "ain";
    //                 @include positions(absolute);
    //                 background: none;
    //                 -webkit-background-clip: unset;
    //                 background-clip: unset;
    //                 mix-blend-mode: unset;
    //                 color: var(--accent-color);
    //             }
    //         }
    //     }

    //     .middle__row--title[data-title="two ways"] {


    //         .title-top {
    //             background: url("/images/two ways/two_ways.png") no-repeat -500px top / cover;
    //             -webkit-background-clip: text;
    //             background-clip: text;
    //             transform: translate(-20%, 20%);

    //             &:before {
    //                 clip-path: polygon(0% 0%, 70% 0%, 90% 70%, 100% 100%, 0% 100%);
    //                 transform: translate(-40%, 10%);
    //             }
    //         }
    //     }

    //     .middle__row--title[data-title="tallest tree"] {

    //         .title-top {
    //             background: url("/images/tallest tree/tallest_tree.png") no-repeat -400px -100px / cover;
    //             -webkit-background-clip: text;
    //             background-clip: text;
    //         }

    //         .title-top::before {
    //             clip-path: polygon(0% 0%, 100% 0%, 95% 10%, 75% 100%, 0% 100%);
    //             transform: translate(-10%, -10%);
    //         }
