@import './utils/variables';
@import './utils/mixin';
@import './utils/function';
@import './utils/placeholder';

@import './utils/colors';
@import '../fonts/fonts';

.row__top {
    width: $width-full;
    // padding: addSpacing($spacing-medium, 1) addSpacing($spacing-medium, 1) 0 addSpacing($spacing-medium, 1);
    padding: 2rem 2rem 0rem .5rem;
}

.top__row--sound,
.top__row--nav {
    @extend %toprow-buttons-container-styles;

    // Common button styles for both sound and nav buttons
    button {
        @include positions(relative);
        height: $height-full;
        width: $width-full;

        background: none;
        vertical-align: middle;
        cursor: pointer;
    }

    // Common pseudo styles for both sound and nav buttons
    &::before {
        @include positions(absolute);
        @extend %toprow-button-styles-before;
    }

    // Common button svg styles for both option and nav buttons
    button svg {
        @extend %svg-icon-styles
    }
}

.top__row--sound {
    float: left;


    &::before {
        clip-path: polygon(0% 50%, 50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .sound-btn {


        span {
            @include displays(inline-block);
            @extend %sound-bars-styles;

            // Staggered animation delays for nth-of-type elements
            &:nth-of-type(2) {
                animation-delay: -1s;
            }

            &:nth-of-type(3) {
                animation-delay: -2s;
            }

            // Specific styles for the first and last spans
            &:first-of-type,
            &:last-of-type {
                height: $height-half;
            }
        }

        &.paused span {
            animation: none;
        }
    }

    .option-btn {
        svg {
            color: #ffc190;
            filter: contrast(.8);
        }
    }
}

@keyframes bounce {
    10% {
        transform: scaleY(0.3);
        /* start by scaling to 30% */
    }

    30% {
        transform: scaleY(0.8);
        /* scale up to 80% */
    }

    60% {
        transform: scaleY(0.4);
        /* scale down to 40% */
    }

    80% {
        transform: scaleY(0.75);
        /* scale up to 75% */
    }

    100% {
        transform: scaleY(0.6);
        /* scale down to 60% */
    }
}

.top__row--nav {
    float: right;

    &::before {
        clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
    }

    svg {
        color: #ffc190;
        filter: contrast(.8);
    }
}