@use './utils/mixin' as *;
@use './utils/function' as*;
@use './utils/placeholder' as*;

@use './utils/variables';
@use './utils/colors';
@use '../fonts/fonts';


.row__top {
    width: variables.$width-full;
    padding: variables.$spacing-medium variables.$spacing-medium variables.$spacing-none addSpacing(variables.$spacing-none, .5);


    .top__row--sound,
    .top__row--nav {
        @extend %toprow-buttons-container-styles;

        // Common button styles for both sound and nav buttons
        button {
            @include positions(relative);
            @include vertical-alignment(middle);

            height: variables.$height-full;
            width: variables.$width-full;

            background: none;
            cursor: pointer;
        }

        // Common pseudo styles for both sound and nav buttons
        &::before {
            @include positions(absolute);
            @extend %toprow-button-styles-before;
        }

        // Common button svg styles for both option and nav buttons
        button svg {
            @extend %svg-icon-styles
        }
    }


    .top__row--sound {
        float: left;


        &::before {
            clip-path: polygon(0% 50%, 50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        .sound-btn {


            span {
                @include displays(inline-block);
                @extend %sound-bars-styles;
                background-color: var(--primary-color);

                // Staggered animation delays for nth-of-type elements
                &:nth-of-type(2) {
                    animation-delay: -1s;
                }

                &:nth-of-type(3) {
                    animation-delay: -2s;
                }

                // Specific styles for the first and last spans
                &:first-of-type,
                &:last-of-type {
                    height: variables.$height-half;
                }
            }

            &.paused span {
                background-color: var(--secondary-color);
            }
        }

        .option-btn {
            svg {
                color: var(--primary-color);
                filter: contrast(.8);
            }
        }
    }

    @keyframes bounce {
        10% {
            transform: scaleY(0.3);
            /* start by scaling to 30% */
        }

        30% {
            transform: scaleY(0.8);
            /* scale up to 80% */
        }

        60% {
            transform: scaleY(0.4);
            /* scale down to 40% */
        }

        80% {
            transform: scaleY(0.75);
            /* scale up to 75% */
        }

        100% {
            transform: scaleY(0.6);
            /* scale down to 60% */
        }
    }

    .top__row--nav {
        float: right;

        &::before {
            clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
        }

        svg {
            color: var(--primary-color);
            filter: contrast(.8);
        }
    }
}